<div class=" twcss-mt-5 twcss-text-3xl twcss-max-w-full">
  <h2 class="twcss-text-3xl twcss-font-medium twcss-text-gray-500 twcss-mb-5">Product Benefits</h2>
  <ul role="list" class="twcss-mt-3 twcss-grid twcss-grid-cols-1 twcss-gap-5 sm:twcss-grid-cols-2 sm:twcss-gap-6 lg:twcss-grid-cols-6  twcss-justify-stretch twcss-max-w-full">
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-pink-600 twcss-text-3xl twcss-font-medium twcss-text-white">GA</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-xl">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Graph API</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-pink-600 twcss-text-sm twcss-font-medium twcss-text-white">
        {% render "icon-cart" %}
      </div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Graph API</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-pink-600 twcss-text-sm twcss-font-medium twcss-text-white">
        {% render "icon-cart" %}
      </div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Graph API</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-purple-600 twcss-text-sm twcss-font-medium twcss-text-white">CD</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Component Design</a>
          <p class="twcss-text-gray-500">12 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-yellow-500 twcss-text-sm twcss-font-medium twcss-text-white">T</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Templates</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="twcss-col-span-1 twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-green-500 twcss-text-sm twcss-font-medium twcss-text-white">RC</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">React Components</a>
          <p class="twcss-text-gray-500">8 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <button type="button" class="twcss-inline-flex size-8 twcss-items-center twcss-justify-center twcss-rounded-full twcss-bg-transparent twcss-bg-white twcss-text-gray-400 hover:twcss-text-gray-500 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-indigo-500 focus:twcss-ring-offset-2">
            <span class="twcss-sr-only">Open options</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>