<div class="twcss-mt-5 twcss-text-3xl twcss-w-full twcss-bg-slate-100">
  <h2 class="twcss-text-3xl twcss-font-medium twcss-text-gray-500 twcss-mb-5">Product Benefits</h2>
  <ul role="list" class="twcss-mt-3 twcss-flex twcss-flex-col twcss-space-y-4 md:twcss-space-y-0 md:twcss-flex-row  md:twcss-space-x-4 twcss-justify-between twcss-max-w-full md:twcss-h-28">
   
    <li class="twcss-flex twcss-grow twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 md:twcss-w-28 twcss-shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-3xl twcss-font-medium twcss-text-white">{% render "icon-instock" %}</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-xl">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Promo One Copy</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>

      </div>
    </li>
    <li class="twcss-grow twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 md:twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-3xl twcss-font-medium twcss-text-white">
        {% render "icon-truck" %}
      </div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-xl">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Graph API</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>

      </div>
    </li>
    <li class="twcss-grow twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 md:twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-sm twcss-font-medium twcss-text-white">
        {% render "icon-rewards" %}
      </div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Graph API</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>

      </div>
    </li>
    <li class="twcss-grow twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 md:twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-sm twcss-font-medium twcss-text-white">{% render "icon-warranty" %}</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Component Design</a>
          <p class="twcss-text-gray-500">12 Members</p>
        </div>
      </div>
    </li>
    <li class="twcss-grow twcss-flex twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-sm twcss-font-medium twcss-text-white">T</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">Templates</a>
          <p class="twcss-text-gray-500">16 Members</p>
        </div>
      </div>
    </li> 
    <li class=" twcss-flex twcss-grow twcss-rounded-md twcss-shadow-sm">
      <div class="twcss-flex twcss-w-16 md:twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md twcss-bg-lime-600 twcss-text-sm twcss-font-medium twcss-text-white">RC</div>
      <div class="twcss-flex twcss-flex-1 twcss-items-center twcss-justify-between twcss-truncate twcss-rounded-r-md twcss-border-b twcss-border-r twcss-border-t twcss-border-gray-200 twcss-bg-white">
        <div class="twcss-flex-1 twcss-truncate twcss-px-4 twcss-py-2 twcss-text-sm">
          <a href="#" class="twcss-font-medium twcss-text-gray-900 hover:twcss-text-gray-600">React Components</a>
          <p class="twcss-text-gray-500">8 Members</p>
        </div>
        <div class="shrink-0 twcss-pr-2">
          <!-- empty -->
        </div>
      </div>
    </li> 
  </ul>
</div>