{% liquid
  assign has_subscriptions = false
  assign has_trial = false
  assign ships_free = false
  assign faa_cleared = false
  assign points_earned = product.price | times: 0.01 | round
  assign price_check = product.price | money_without_currency | remove: ',' | plus: 0

  if price_check >= 49.00
    assign ships_free = true
  endif

  if product.selling_plan_groups != empty
    assign has_subscriptions = true
  endif

  if product.metafields.custom.dhm_promos_faa != null
    assign faa_cleared = true
  endif

  if product.metafields.custom.dhm_promos_risk_free_trial != null
    assign has_trial = true
  endif
%}

<div class=' twcss-bg-white twcss-rounded-xl twcss-mt-10 twcss-mb-10 twcss-border twcss-border-slate-300 '>
  <div class='twcss-mx-auto twcss-max-w-2xl twcss-px-4 twcss-py-24 sm:twcss-px-6 sm:twcss-py-34 lg:twcss-max-w-full lg:twcss-px-8'>
    <div class='twcss-grid twcss-grid-cols-1 twcss-gap-y-12 sm:twcss-grid-cols-1 sm:twcss-gap-x-6 lg:twcss-grid-cols-4 lg:twcss-gap-x-8'>
      <div>
        <div class='twcss-flex twcss-w-28 twcss-shrink-1 twcss-items-center twcss-justify-center  twcss-mx-auto'>
          {% render 'icon-instock' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
          {% if ships_free %}
            This Item Ships Free!
          {% else %}
            Orders Over $49.00 Ship Free!
          {% endif %}
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark twcss-text-center'>
          Free Shipping within the USA.
        </p>
      </div>
      <div>
        <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
          {% render 'icon-rewards' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
          Loyalty Rewards Save Money
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark twcss-text-center '>
          Earn {{ points_earned }} points toward your next order.
        </p>
      </div>
      <div>
        {% if has_trial %}
          <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md  twcss-text-sm twcss-font-medium twcss-text-primaryGreenDark twcss-mx-auto'>
            {% render 'icon-warranty' %}
          </div>
          <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
            {{ product.metafields.custom.dhm_promos_risk_free_trial | metafield_text }}
          </h3>
          <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark  twcss-text-center'>
            Not Happy? Return it for a full refund.
          </p>
        {% else %}
          <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md  twcss-text-sm twcss-font-medium twcss-text-primaryGreenDark twcss-mx-auto'>
            {% render 'icon-fsa-hsa' %}
          </div>
          <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
            HSA & FSA Cards Accepted
          </h3>
          <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark  twcss-text-center'>
            Use your funds for eligible products.
          </p>
        {% endif %}
      </div>
      <div>
        {% if faa_cleared %}
          <div class='twcss-flex twcss-w-24 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
            {% render 'icon-faa-cleared' %}
          </div>
          <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
            FAA Approved
          </h3>
          <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark  twcss-text-center'>
            This product meets FAA regulations.
          </p>
        {% elsif has_subscriptions %}
          <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
            {% render 'icon-subscribe' %}
          </div>
          <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
            Subscribe and Save 15%
          </h3>
          <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark  twcss-text-center'>
            Save on Every Order. Cancel anytime.
          </p>
        {% else %}
          <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
            {% render 'icon-best-prices' %}
          </div>
          <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-primaryGreenDark twcss-uppercase twcss-text-center'>
            Best Prices Guaranteed
          </h3>
          <p class='twcss-mt-2 twcss-text-2xl twcss-text-primaryGreenDark  twcss-text-center'>
            We will match any price.
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
