<div class=' twcss-bg-primaryGreen twcss-rounded-xl twcss-mt-10 twcss-mb-10'>
  <div class='twcss-mx-auto twcss-max-w-2xl twcss-px-4 twcss-py-24 sm:twcss-px-6 sm:twcss-py-34 lg:twcss-max-w-full lg:twcss-px-8'>
    <div class='twcss-grid twcss-grid-cols-1 twcss-gap-y-12 sm:twcss-grid-cols-1 sm:twcss-gap-x-6 lg:twcss-grid-cols-4 lg:twcss-gap-x-8'>
      <div>
        <div class='twcss-flex twcss-w-28 twcss-shrink-1 twcss-items-center twcss-justify-center  twcss-mx-auto'>
          {% render 'icon-instock' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-white twcss-uppercase twcss-text-center'>
          In Stock with Free Shipping
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-white twcss-text-center'>
          Includes Free Shipping within the USA.
        </p>
      </div>
      <div>
        <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
          {% render 'icon-rewards' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-white twcss-uppercase twcss-text-center'>
          Loyalty Rewards Save Money
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-white twcss-text-center '>Earn points toward your next order.</p>
      </div>
      <div>
        <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center twcss-rounded-l-md  twcss-text-sm twcss-font-medium twcss-text-white twcss-mx-auto'>
          {% render 'icon-warranty' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-white twcss-uppercase twcss-text-center'>
          {{ product.metafields.custom.dhm_promos_risk_free_trial | metafield_text }}
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-white  twcss-text-center'>
          Not Happy? Return it for a full refund.
        </p>
      </div>
      <div>
        <div class='twcss-flex twcss-w-28 shrink-0 twcss-items-center twcss-justify-center  twcss-mx-auto'>
          {% render 'icon-subscribe' %}
        </div>
        <h3 class='twcss-mt-6 twcss-text-2xl twcss-font-bold twcss-text-white twcss-uppercase twcss-text-center'>
          Subscribe and Save 15%
        </h3>
        <p class='twcss-mt-2 twcss-text-2xl twcss-text-white  twcss-text-center'>
          Save on Every Order. Cancel anytime.
        </p>
      </div>
    </div>
  </div>
</div>
