<div class="twcss-overflow-hidden twcss-bg-white twcss-shadow sm:twcss-rounded-lg twcss-mt-8">

{% render "specs-general-list", product:product %}

{% render "specs-physical-list", product:product %}

{% render "specs-sleep-list", product:product %}

{% render "specs-oxygen-list", product:product %}

{% render "specs-power-list", product:product %}

{% render "specs-nebulizer-list", product:product %}


</div>