{% assign nebulizer_specs = "
Liter Flow : dhm_nebulizer_liter_flow ,
Pressure : dhm_nebulizer_pressure ,
Nebulization Rate : dhm_nebulizer_nebulization_rate ,
Median Diameter : dhm_nebulizer_median_diameter ,
Modes of Operation : dhm_nebulizer_modes_of_operation ,
Capacity : dhm_nebulizer_capacity ,
Treatment Time : dhm_nebulizer_treatment_time ,
Respirable Fraction : dhm_nebulizer_respirable_fraction ,

" %}

{% assign nebulizer_specs_split = nebulizer_specs | split: ',' %}
{% assign path = product.metafields.custom %}

{% if product.metafields.custom["dhm_nebulizer_treatment_time"] != blank %}

<h3 class="twcss-px-6 twcss-py-4 twcss-font-semibold twcss-text-primaryGreen twcss-text-2xl ">
NEBULIZER DETAILS
</h3>

<div style="font-size:90%; font-kerning: normal; font-family:montserrat, sans-serif;" class="twcss-border-t twcss-border-b">
<dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
     
{% for spec in nebulizer_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}
    {% assign field_length = product.metafields.custom[spec_handle] | metafield_text | size %}
      {% if field_length == 0 %}
         {% continue %}
      {% endif %}
    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt>{{spec_name}}:</dt>
        <dd class="md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
  
{% endfor %}
  </dl>
</div>

<br />

{% endif %}