<div class="twcss-overflow-hidden twcss-bg-white twcss-shadow sm:twcss-rounded-lg twcss-mt-8">
{% render "specs-physical-list", product:product %}
</div>

<div class="twcss-overflow-hidden twcss-bg-white twcss-shadow sm:twcss-rounded-lg twcss-mt-8">
{% render "specs-general-list", product:product %}
</div>

<div class="twcss-overflow-hidden twcss-bg-white twcss-shadow sm:twcss-rounded-lg twcss-mt-8">
{% render "specs-alternate", product:product %}
</div>