{% assign power_ac_specs = "
AC Power Range (Activator) : dhm_power_ac_range ,
AC Power Consumption : dhm_power_ac_consumption ,
AC Cord Length : dhm_power_ac_length ,
AC Cord Weight : dhm_power_ac_weight ,
AC Cord Brick Dimensions : dhm_power_ac_brick_dimensions ,
" %}

{% assign power_ac_specs_split = power_ac_specs | split: ',' %}
{% assign path = product.metafields.custom %}

{% if product.metafields.custom["dhm_power_ac_range"] != blank %}

<h3 class="twcss-px-6 twcss-py-4 twcss-font-semibold twcss-text-primaryGreen twcss-text-2xl ">
AC POWER DETAILS
</h3>

<div style="font-size:90%; font-kerning: normal; font-family:verdana, sans-serif;" class="twcss-border-t twcss-border-b">
<dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
     
{% for spec in power_ac_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt>{{spec_name}}:</dt>
        <dd class="md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
  
{% endfor %}
  </dl>
</div>

<br />

{% endif %}

{% assign power_dc_specs = "
DC Power Input (Activator) : dhm_power_dc_input ,
DC Power Consumption : dhm_power_dc_consumption ,
DC Cord Length : dhm_power_dc_length ,
DC Cord Weight : dhm_power_dc_weight ,
DC Cord Brick Dimensions : dhm_power_dc_brick_dimensions ,
Battery Type (Activator) : dhm_power_battery_type ,
Battery Dimensions : dhm_power_battery_dimensions ,
Battery Weight : dhm_power_battery_weight ,
Battery Capacity : dhm_power_battery_capacity ,
Battery Life Cycles : dhm_power_battery_life_cycles ,
Battery Recharge Time : dhm_power_battery_recharge_time ,
Battery Run Time : dhm_power_battery_run_time ,
Battery Shipping Notice : dhm_power_battery_shipping_notice ,
" %}

{% if product.metafields.custom["dhm_power_dc_range"] != blank %}

<h3 class="twcss-px-6 twcss-py-4 twcss-font-semibold twcss-text-primaryGreen twcss-text-2xl ">
DC POWER DETAILS
</h3>

<div style="font-size:90%; font-kerning: normal; font-family:verdana, sans-serif;" class="twcss-border-t twcss-border-b">
<dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
     
{% for spec in power_dc_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt>{{spec_name}}:</dt>
        <dd class="md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
  
{% endfor %}
  </dl>
</div>

<br />

{% endif %}