<div class="twcss-overflow-hidden twcss-bg-white twcss-shadow sm:twcss-rounded-lg twcss-mt-8">
{% render "specs-general-list", product:product %}

{% render "specs-physical-list", product:product %}

 {% if product.metafields.custom["dhm_sleep_mask_type"] != null %}
    {% render "specs-pap-mask-list", product:product %}
{% endif %}

 {% if product.metafields.custom["dhm_sleep_machine_modes"] != null %}
    {% render "specs-pap-machine-list", product:product %}
{% endif %}

 {% if product.metafields.custom["dhm_oxygen_machine_type"] != null %}
    {% render "specs-oxygen-list", product:product %}
{% endif %}
</div>