{% assign pap_machine_specs = "
Operating Modes : dhm_sleep_machine_modes ,
Comfort Tech : dhm_sleep_machine_comfort_tech ,
Rainout Reduction : dhm_sleep_machine_rainout_reduction ,
Ramp : dhm_sleep_machine_ramp ,
Leak Compensation : dhm_sleep_machine_leak_compensation ,
Auto On Off : dhm_sleep_machine_auto_on_off ,
Oxygen Compatibility : dhm_sleep_machine_sleep_compatibility ,
   DHM Data - Included (Activator) : dhm_shared_data_included ,
Data Storage : dhm_shared_data_storage ,
Data Viewing Options : dhm_shared_data_viewing ,
Humidifier Compatibility : dhm_humidifier_compatibility ,
Humidifier Settings : dhm_humidifier_settings ,
Chamber Capacity : dhm_humidifier_chamber_capacity ,
Range (Activator) : dhm_power_ac_range ,
DHM Hum - Chamber Type : dhm_humidifier_chamber_type ,
DHM Sleep - Pressure Range : dhm_sleep_pressure_range ,
DHM Sleep - Machine Tubing Compatibility : dhm_sleep_machine_tubing_compatibility ,

" %}

{% assign pap_machine_specs_split = pap_machine_specs | split: ',' %}
{% assign path = product.metafields.custom %}

{% if product.metafields.custom["dhm_sleep_machine_modes"] != blank %}

<h3 class="twcss-px-6 twcss-py-4 twcss-font-semibold twcss-text-primaryGreen twcss-text-2xl ">
MACHINE DETAILS
</h3>

<div style="font-size:90%; font-kerning: normal; font-family:verdana, sans-serif;" class="twcss-border-t twcss-border-b">
<dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
     
{% for spec in pap_machine_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt>{{spec_name}}:</dt>
        <dd class="md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
  
{% endfor %}
  </dl>
</div>

<br />

{% endif %}

{% assign pap_mask_specs = "
Mask Type : dhm_sleep_mask_type ,
Recommended Pressure Range : dhm_sleep_pressure_range ,

" %}

{% if product.metafields.custom["dhm_sleep_machine_modes"] != blank %}

<h3 class="twcss-px-6 twcss-py-4 twcss-font-semibold twcss-text-primaryGreen twcss-text-2xl ">
MASK DETAILS
</h3>

<div style="font-size:90%; font-kerning: normal; font-family:verdana, sans-serif;" class="twcss-border-t twcss-border-b">
<dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
     
{% for spec in pap_mask_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt>{{spec_name}}:</dt>
        <dd class="md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
  
{% endfor %}
  </dl>
</div>

<br />

{% endif %}