<style>
  #desc_container p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.75;
  }

  #desc_container p strong,
  #desc_container p b {
    color: #416a38;
  }

  #desc_container ul.literaturelist {
    display: none;
  }
  #desc_container div.youtube-responsive {
    display: none;
  }
</style>
{% comment %}
  All comments for closing divs refer to the </div> below the comment
{% endcomment %}
<div id='details-root' class='page-width '>
  <div id='the_acc' class='twcss-space-y-6 twcss-bg-bgGray -twcss-mt-20 twcss-pt-10'>
    <div id='main-content-container' class='twcss-flex twcss-mx-auto'>
      <div id='product_details' role='region' class=' twcss-w-full twcss-px-10 twcss-pt-10 '>
        <div class='twcss-pb-4 twcss-pt-6  twcss-w-full twcss-flex twcss-flex-col md:twcss-flex-row'>
          <div id='desc_container' class='lg:twcss-px-40 xl:twcss-px-60'>
            <h2 class=' twcss-text-4xl twcss-leading-relaxed twcss-text-primaryGreen twcss-italic twcss-text-pretty'>
              {{ product.description }}
            </h2>
            {{ product.metafields.custom.dhm_shared_description.value }}
          </div>
        </div>
        {% comment %}
          Loads the benefits, we pass in the product object in all these,
          so snippets have access to metafields
        {% endcomment %}
        <div class='description-section '>
          {% render 'simple-cards-grid', product: product %}
        </div>

        {% comment %} accordion containers {% endcomment %}

        {% comment %}End accordion container {% endcomment %}
        <div x-data='{ expanded: false }' id='specs_accordion' class='twcss-mt-10'>
          <button
            @click='expanded = ! expanded'
            class='twcss-flex twcss-w-full twcss-bg-primaryGreen  twcss-text-white twcss-items-center twcss-justify-between twcss-px-10 twcss-py-10 twcss-text-4xl twcss-font-bold hover:twcss-bg-primaryGreenDark'
            :class="expanded ? 'twcss-rounded-t-lg' : 'twcss-rounded-lg'"
          >
            Specifications
            <span
              x-show='expanded'
              aria-hidden='true'
              class='twcss-ml-4 twcss-text-5xl'
              >&minus;</span
            >

            <span
              x-show='!expanded'
              aria-hidden='true'
              class='twcss-ml-4 twcss-text-5xl'
              >&plus;</span
            >
          </button>

          <div x-show='expanded' x-collapse>
            {% render 'specs-all', product: product %}
          </div>
        </div>
        {% if product.metafields.custom.dhm_resources_pdf_files != null
          or product.metafields.custom.dhm_resources_videos != null
        %}
          <div x-data='{ expanded: false }' id='resources_accordion' class='twcss-mt-10'>
            <button
              @click='expanded = ! expanded'
              class='twcss-flex twcss-w-full twcss-bg-primaryGreen  twcss-text-white twcss-items-center twcss-justify-between twcss-px-10 twcss-py-10 twcss-text-4xl twcss-font-bold hover:twcss-bg-primaryGreenDark'
              :class="expanded ? 'twcss-rounded-t-lg' : 'twcss-rounded-lg'"
            >
              Media and Resources
              <span
                x-show='expanded'
                aria-hidden='true'
                class='twcss-ml-4 twcss-text-5xl'
                >&minus;</span
              >

              <span
                x-show='!expanded'
                aria-hidden='true'
                class='twcss-ml-4 twcss-text-5xl'
                >&plus;</span
              >
            </button>
            <div x-show='expanded' x-collapse>
              <div class='twcss-overflow-hidden twcss-bg-white twcss-shadow twcss-rounded-b-lg twcss-pt-10 lg:twcss-pt-20 '>
                {% render 'resources-pdfs', product: product %}
                {% render 'resources-videos', product: product %}
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %}Checks for a collection of parts that include this product{% endcomment %}
        {% if product.metafields.custom.dhm_promos_parts != blank %}
          <div class='description-section twcss-mt-10 twcss-mb-10'>
            {% render 'product-related-parts', product: product %}
          </div>
        {% endif %}

        {% comment %}Close product_details {% endcomment %}
      </div>
      {% comment %}Close main-content-container {% endcomment %}
    </div>
    {% comment %}the_acc{% endcomment %}
  </div>
  {% comment %}Close details-root {% endcomment %}
</div>
<script>



    function showVideo(videoId) {
      console.log(videoId);
      
      const videoContainer = document.getElementById('video-container');
      videoContainer.innerHTML = `
        <iframe width="1280" height="720"
          src="https://www.youtube.com/embed/${videoId}?autoplay=1"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen>
        </iframe>
      `;
    }

    function hideVideo() {
      const videoContainer = document.getElementById('video-container');
      videoContainer.innerHTML = '';
    }

    {% comment %} (async() => {
       Code to be executed - the json filter lets you use liquid in javascript
      const videoIds = {{ product.metafields.custom.dhm_resources_videos.value | json }};
      console.log(videoIds);
      const thumbnailsContainer = document.getElementById('video-thumbnails');
      const videoContainer = document.getElementById('video-container');
    
      await videoIds.forEach(id => {
        const img = document.createElement('img');
        img.src = `https://img.youtube.com/vi/${id}/0.jpg`;
        img.className = 'yt-thumbnail';
        img.width = 200;
        img.onclick = () => {
          modalOpen = true;
          showVideo(id)
           videoContainer.innerHTML = `
            <iframe width="560" height="315"
              src="https://www.youtube.com/embed/${id}?autoplay=1"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen>
            </iframe>
          `; 
        };
        console.log(img);
        thumbnailsContainer.appendChild(img);
      });
    })(); {% endcomment %}
</script>
