<div class=" page-width ">
    {% comment %} {% render "logo-cloud" %} {% endcomment %}
    
     <div class="twcss-px-4 sm:twcss-px-6 lg:twcss-px-8 -twcss-mt-8 twcss-pt-20 twcss-bg-bgGray">
      <div class="twcss-bg-bgGray  twcss-pb-10">
        <h2 class="twcss-sr-only">Our perks</h2>
         {% render "simple-cards-flex" %} 
        </div>
    </div>
  </div>
