<div class=" page-width twcss-bg-bgGray">
    {% comment %} {% render "logo-cloud" %} {% endcomment %}
     {% comment %} {% render "simple-cards-flex" %} {% endcomment %}
     <div class="twcss-px-4 sm:twcss-px-6 lg:twcss-px-8 -twcss-mt-8 twcss-pt-20 twcss-bg-bgGray">
      <div class="twcss-bg-bgGray">
        <h2 class="twcss-sr-only">Our perks</h2>
        <div class="twcss-mx-auto twcss-max-w-full twcss-divide-y twcss-divide-gray-200 lg:twcss-flex lg:twcss-justify-center lg:twcss-divide-x lg:twcss-divide-y-0 lg:twcss-py-8">
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-24 twcss-shrink twcss-text-indigo-600" src="https://www.directhomemedical.com/images/promos-badge-subscribe-save.png"  width="50" height="50" />
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">Subscribe and Save 15%</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">Save on every order. Skip or cancel anytime.</p>
              </div>
            </div>
          </div>
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-25 twcss-shrink twcss-text-indigo-600"  src="https://www.directhomemedical.com/images/promos-badge-free-30-day-guarantee.png"  width="50" height="50"/>
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">30-Night Money Back Guarantee</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">If you're not happy, return it for a full refund.</p>
              </div>
            </div>
          </div>
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-24 twcss-shrink twcss-text-indigo-600"  src="https://www.directhomemedical.com/images/promos-free-shipping-badge.png"  width="50" height="50"/>
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">In Stock with Free Shipping</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">Includes Free Shipping within the USA.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="twcss-bg-bgGray">
        <div class="twcss-mx-auto twcss-max-w-full twcss-divide-y twcss-divide-gray-200 lg:twcss-flex lg:twcss-justify-center lg:twcss-divide-x lg:twcss-divide-y-0 lg:twcss-py-8">
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-24 twcss-shrink-0 twcss-text-indigo-600" src="https://www.directhomemedical.com/images/promos-badge-loyalty-rewards.png"  width="50" height="50" />
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">Loyalty Rewards Save Money</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">Log in and earn points towrd your next order.</p>
              </div>
            </div>
          </div>
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-24 twcss-shrink twcss-text-indigo-600" src="https://www.directhomemedical.com/images/promos-badge-penny-giftbox.png"  width="50" height="50"/>
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">Includes Great Free Gift</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">Get 6 months of Cannulas with purchase.</p>
              </div>
            </div>
          </div>
          <div class="twcss-py-8 lg:twcss-w-1/3 lg:twcss-flex-none lg:twcss-py-0">
            <div class="twcss-mx-auto twcss-flex twcss-max-w-xs twcss-items-center twcss-px-4 lg:twcss-max-w-none lg:twcss-px-8">
              <img class="twcss-size-24 twcss-shrink twcss-text-indigo-600"  src="https://www.directhomemedical.com/images/promos-badge-replacement-parts.png" width="50" height="50"/>
              <div class="twcss-ml-4 twcss-flex twcss-flex-auto twcss-flex-col-reverse">
                <h3 class="twcss-font-medium twcss-text-gray-900">Find Replacement Parts</h3>
                <p class="twcss-text-2xl twcss-text-gray-500">View compatible parts for this item.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
