<div class=" page-width">
  <div class="twcss-flex twcss-flex-col md:twcss-flex-row twcss-text-3xl">
    {% comment %} {% render "logo-cloud" %} {% endcomment %}
     {% render "simple-cards-flex" %}
  </div>
</div>